a{
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
}
a:visited{
    color:rgb(49, 49, 49);
    transition: 0.3s;
}
a:link{
    color:rgb(49, 49, 49);
    transition: 0.3s;
}
a:hover{
    color:rgba(49, 49, 49, 0.635)
}

tr{
    display:flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
  }

ul{
    list-style-type: circle;

}
.cover {
    background-image: url(images/lightBackground.png);
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
  }
#truly-wireless{
    font-family: 'Red Hat Display', sans-serif;
    color:black;
    font-size:4em;
    margin-left: 5%;
    margin-right:5%;
    font-weight:bold;
}
nav.desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:  #4c7a8d; */
    padding: 2%;
    background-color: whitesmoke;
    flex-direction:row;

    
}

nav.mobile{
    display:none;
}

#logo{
    display: flex;
    justify-self: left;
    font-family: 'Chakra Petch', sans-serif;
    font-size:xx-large;
    margin: 0px;
    color:black;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}
#logo:hover{
    transform: rotateX(360deg);
    color:rgba(0, 0, 0, 0.405);
}

button{
    font-family: 'IBM Plex Sans', sans-serif;
    border-radius: 16px;
    border: 2px solid black;
    background-color:transparent;
    color: black;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
    transition: 0.5s;

}

button:hover{
    border: 2px solid black;
    background-color:rgba(0, 0, 0, 0.291);
    color: black;


}

h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight:300;
    margin-left: 4%;
    margin-right:4%;
    color:rgb(35, 35, 35);
}

h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight:500;
}

.rts-item{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:1%;
}

a.top-nav-link{
    color:black
}

a.top-nav-link:hover{
    color:rgba(0, 0, 0, 0.381)
}

img{
    border-radius: 21px;
    margin:2%;
}

.author-tag{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight:300;
    color:rgb(35, 35, 35);
}

.in-text-link{
    color:whitesmoke
}

p{
    font-family:'IBM Plex sans';
    font-weight:300;
}

#product-call-to-action{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
}

#product-cta-text-buttons{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#cta-buttons{
    display:flex;
    width:30%;
    flex-direction: row;
    margin:10%;
    justify-content: space-between;
}

#neurox-spotify-ui{
    width:20%; 
    height:40%;
    margin:5%;
    border-radius: 25px;
}

#photos-of-product-lineup{
    overflow:hidden;
}

#dev-highlights-rows{
    display:flex;
}

.dev-highlight{
    display:flex;
    flex-direction: column;
    margin:3%;
    justify-content: center;
    align-items: center;
}



#copyright{
    font-family: 'Chakra Petch', sans-serif;
}

#client-logos{
    background-color: rgba(0, 0, 0, 0.349);
}

.client-logo{
    border-radius:0px;
    width:15vw;
}

.client-logo-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:2%;
}

#client-logo-grid{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

#clients-across-sectors{
    margin-bottom:1%;
    margin-left:1%;
    margin-right:1%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5em;
    color:whitesmoke;
    font-weight:300;
}

li{
    color:black;
}

div #implanted-everything{
    width:100%;
    overflow:hidden;
    margin-top:1%;
    margin-bottom:0%;
}

#implanted-everything{
    font-size: 3em;
    color:whitesmoke;
    animation: 2s slide-in;
    margin-left:1%;
}

/* SLIDING TEXT (MARQUEE) ADAPTED FROM TUTORIAL: https://www.html.am/html-codes/marquees/css-slide-in-text.cfm */

@keyframes slide-in{
    from{
        margin-left:-50%;
        width: 300%;
            
    }
    to{
        margin-left:1%;
        width: 100%;
    }
}

#ui-screens{
    display:flex;
    flex-direction: row;
    width: 100%;
}

#skinny-ui-column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 40%;
}

#wide-ui-column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:60%;
}

#venmo-container{
    width:20vw;
}

#uber-container{
    width:20vw;
}

#door-container{
    width:80vw
}
#fraud-container{
    width: 80vw;
}
.rts-items{
    margin:5%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#foot-flex{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#prod-fc{
    justify-content: center;
    align-items: center;
}

#dev-use-co-fc{
    justify-content: center;
    align-items: center;
}

.top-nav-options{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
}

.ui-image{
    box-shadow: 0px 5px 20px  5px whitesmoke;
    margin:5%;
    border-radius: 25px;
}

.ui-image:hover{
    box-shadow: 0px 5px 20px  5px lightpink;
}

#developers-section{
    display:flex;
    flex-direction: row;
    width:100%;
}
#dev-tools-heading{
    font-size:2em;
}
#non-video-c{
    display:flex;
    flex-direction:column;
    margin:1%;
}
#videoc-c{
    display:flex;
}
.search-box{
    font-family: 'IBM Plex Sans', sans-serif;
    border-radius: 16px;
    border: 2px solid black;
    background-color:transparent;
    color: black;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
    margin:1%;
}

footer{
    background-color: rgba(82, 82, 82, 0.132);
    padding:5%;
}

#ready-to-start-cta{
    padding:5%;
}

.tag-line{
    font-family: 'Red Hat Display', sans-serif;
    color: black;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
    margin:1%;
}

#info-about-platform{
    margin:3%;
}

#dev-toolbox-product{
    background-color: rgba(0, 0, 0, 0.168);
}
@media only screen and (max-width: 640px) {

    #ui-screens{
        flex-direction: column;
    }

    #skinny-ui-column{
        width:100%;
        justify-content: center;
        align-items: center;
    }

    #wide-ui-column{
        width:100%;
        justify-content: center;
        align-items: center;
    }

    nav.desktop{
        display:none;
    }
    nav.mobile{
        display:flex;
        background-color:whitesmoke;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:2%;
    }

    #developers-section{
        flex-direction: column;
        justify-content: center;
        width:100%;
    }
    .cnxIcon{
        width:20%;
        display:flex;
        align-self: center;
    }

    .mobile-nav-link{
        padding:5%;
    }

    #neurox-spotify-ui{
        width:40%; 
        height:40%;
        margin:5%;
        border-radius: 25px;
    }
    #product-call-to-action{
        flex-direction: column-reverse;
        align-items: center;
    }
    #cta-buttons{
        width:100%;
        justify-content: space-around;
    }
    .mobile-menu{
        display:none;
    }
    .hidden-checkbox {
        position: absolute;
        left: -100vw;
    }
    #hamburger:checked{
        transform: rotateX(360deg);
    }

    #hamburger:checked~.mobile-menu{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    label{
        font-family: 'IBM Plex Sans', sans-serif;
    }
    label:hover{
        transform: rotateX(180deg);
    }
    #foot-flex{
        flex-direction: column;
        align-items: center;
    }
    
    .rts-items{
        flex-direction: column;
    }
}
