body, html {
    font-family: "Roboto", sans-serif;
    // background: linear-gradient(to bottom, #87e0fd 0%,#ff8ac8 40%,#05e081 100%);
    height: 100%;
    color: rgb(22, 22, 22);
    //background: linear-gradient(89deg, #262627, #24303d, #262924, #203137);

    background: linear-gradient(89deg, #dfdfe1, #91bdf0, #e1f3da, #94ddf9);
    background-size: 800% 800%;

    animation: AnimationName 34s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
  

  .logo {
    background-image: url('img/burkecircle.png');
    width: 15vw;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .bmwi4 {
    background-image: url('img/bmwi4.png');
    margin: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 100%;
    width: 100%;
  }

  .healingtogethermacbook {
    background-image: url('img/healingtogethermacbook.png');
    margin: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    min-height: 10px;
    max-height: 45vh;
    height: 10000px;
    width: 45vw;
  }

  .experience-title{
    font-family: 'Archivo', sans-serif;
    margin: 10px;
    width: 100%;
    display: flex;
    justify-self: center;
  }

  .experience-card{
    background-color: whitesmoke;
    display: flex;
    font-size: 2em;
    width: 50vw;
    margin: 20px;
  }

  .experience-card{
    background-color: whitesmoke;
    width: auto;
    height: 100%;
    display: flex;
    font-size: 2em;
    margin: 20px;
  }

  .experience-left-column{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 40vw;
  }


  .active {
    color: black;
    box-shadow: 0px 2px 0px black;
  }

nav ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 20px;
  position: sticky;
}

nav ul li{
  margin: 20px;
  font-family: 'Kanit', sans-serif;
}

a{
  color: rgb(22, 22, 22);
  text-decoration: none;

}
  
Button{
  font-family: 'Philosopher', sans-serif;

}

.project-title{
  font-family: 'Philosopher', sans-serif;
  margin: 15px;
  font-size: 2.3em;
}

.project-org{
  font-family: 'Philosopher', sans-serif;
  margin: 15px;
  font-size: 1.5em;
  margin-bottom: 0px;
}

.project-dates{
  font-family: 'Philosopher', sans-serif;
  margin: 15px;
  font-size: 1.5em;
  margin-top: 0px;
}

.project-display{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.project-completion-details{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.dev-header{
  display: flex;
  flex-direction: row;
  margin: 5vw;
  justify-content:center;
  margin-top: 10px;
}

.logo-wrapper{
  display: flex;
  margin: 2vw;
}

.header-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.my-name{
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.my-title{
  font-family: 'Kanit', sans-serif;
  margin-left: 6px;
  margin-right: 6px;
  font-size: 1.5em;
}

.titles{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding-left: 0px;
  justify-content: center;
}

.project-header{
  display: flex;
  justify-content: space-between;
}

.project-item{
  margin: 20px;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0.387);
}

.section-title{
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 2.5em;
}

.skill{
  font-family: 'Kanit', sans-serif;
  font-size: 1.5em;
}